@font-face {
    font-family: "Roboto";
    src: url("/panel/assets/fonts/Roboto-Regular.ttf") format("opentype")
}

body {
    font-family: 'Roboto', Arial, sans-serif !important;
}

.sidebar-item>a {
    color: #222;
}

.sidebar-item>a span {
    color: inherit;
}

.sidebar-wrapper .menu .sidebar-link>span {
    color: #222;
}

.sidebar-wrapper .menu .sidebar-link>span:hover {
    color: #555;
}

.fc-daygrid-event-harness {
    display: inline-block;
}

.fc-event-title,
.fc-sticky {
    cursor: pointer !important;
}

.bg-gray {
    background-color: gray !important;
}

.bg-light-gray {
    background-color: #ecf0f1 !important;
}

.text-light-gray {
    color: lightgray !important;
}

.text-gray {
    color: gray !important;
}

svg {
    display: inline-block !important;
}

.fc-today-button {
    text-transform: capitalize !important;
}