/*header main*/
.header-main-page {
    background-color: #E0E0E0;  /* #f1c40f; */
    height: 100vh;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    position: relative;
}
.header-main-page:before {
    content: "";
    background-image: url("../images/icons/scroll-down.png");
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 130px;
    height: 50px;
    background-position: center;
    background-size: cover;
}
.top-carousel .item-top-carousel {
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 5px 10px -4px #656565;
}
.top-carousel .owl-stage-outer {
    border-radius: 20px;
}
.top-carousel .owl-item {
    padding: 10px;
}
.top-carousel .owl-dots {
    text-align: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.top-carousel .owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127,127,127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}
.top-carousel button.owl-dot {
    background-color: #ffffff;
    width: 13px;
    height: 13px;
    margin-left: 2px;
    margin-right: 2px;
    transition: width ease-in-out .2s;
}
.top-carousel button.owl-dot.active {
    width: 30px
}
.haeder-main-text h2 {
    font-weight: 900;
    color: #001e5d;
}
.haeder-main-text p {
    color: #000000;
}
.haeder-main-text a {
    display: inline-block;
    border: 1px solid #001e5d;
    border-radius: 7px;
    padding: 10px 16px;
    font-size: .8rem;
    transition: all ease-in-out .2s;
}
.haeder-main-text a.header-main-link1 {
    background-color: #001e5d;
    color: #ffffff;
    margin-right: 14px;
}
.haeder-main-text a.header-main-link2 {
    color: #001e5d;
}
.haeder-main-text a:hover {
    background-color: #ffffff;
    color: #001e5d;
}
.header-scroll-arrow {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 20px;
    color: #ffb400;
    font-size: 2rem;
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
}
@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: translate(0, 0);
    }
    20% {
        -webkit-transform: translate(0, 10px);
    }
    40% {
        -webkit-transform: translate(0, 0);
    }
}
@keyframes sdb04 {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, 10px);
    }
    40% {
        transform: translate(0, 0);
    }
}
@media (max-width: 1100px) {
    .header-main-page {
        height: auto;
        min-height: 520px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
/*pricing*/
#pricing {
    padding-top: 130px;
    padding-bottom: 130px;
}
#pricing h2 {
    font-weight: 900;
    font-size: 1.5rem;
    color: #000;
}
.nav-pills-price {
    max-width: 475px;
    margin: auto;
}
.nav-pills-price li a {
    color: #000000;
    font-size: .85rem;
}
.nav-pills-price .nav-link.active, .nav-pills-price .show>.nav-link {
    color: #000;
    background-color: #ffb400;
}
.nav-pills-price .nav-link {
    border-radius: 7px;
}
.card-price {
    border: 1px solid #ececec;
    border-radius: 18px;
    padding: 22px 15px 35px 15px;
    text-align: center;
    position: relative;
    min-height: 358px;
    margin-bottom: 10px;
    transition: all ease-in-out .3s;
}
.card-price h3 {
    font-size: 1rem;
    font-weight: 900;
    margin-top: 8px;
    color: #000000;
    transition: all ease-in-out .3s;
}
.card-price p {
    text-align: left;
    font-weight: 700;
    font-size: .95rem;
    color: #b5b5b5;
    transition: all ease-in-out .3s;
}
.card-price .price-learn-more {
    position: absolute;
    right: 22px;
    bottom: 19px;
    font-weight: 700;
    color: #001e5d;
    font-size: .85rem;
    transition: all ease-in-out .3s;
}
.price-label {
    position: absolute;
    bottom: 15px;
    left: -20px;
    overflow: visible;
    font-size: 18px;
    line-height: 15px;
}
.price-label a {
    display: block;
    padding: 6px 8px 6px 31px;
    position: relative;
    background: #203d99;
    overflow: visible;
    height: 28px;
    margin-left: 13px;
    color: #fff;
    text-decoration: none;
    font-size: .85rem;
    font-weight: 700;
}
.price-label a:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: -6px;
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    transform: rotate(175deg);
    border-top: 6px solid #101e4d;
    border-right: 8px solid transparent;
}
.price-label a:before {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
    border-top: 14px solid #203d99;
    border-bottom: 14px solid #203d99;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
}
.card-price:hover {
    box-shadow: 0 7px 12px #d2d2d2;
}
.card-price:hover h3 , .card-price:hover p {
    color: #001e5d;
}
.card-price:hover .price-learn-more {
    color: #ffb400;
}
@media (max-width: 600px) {
    .nav-pills-price li {
        margin: auto;
    }
}
/*customers*/
#customers {
    background-color: #ffefc7;
    padding-top: 80px;
}
#customers h2 {
    font-weight: 900;
    font-size: 1.5rem;
    color: #000;
}
.card-customers {
    background-color: #f1e1bc;
    border-radius: 18px;
    position: relative;
    padding: 41px 18px 20px 18px;
    margin-bottom: 50px;
}
.img-customer {
    width: 80px;
    height: 80px;
    border: 6px solid #f1e1bc;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -38px;
}
.card-customers h4 {
    text-align: center;
    margin-bottom: -4px;
    font-size: .9rem;
    font-weight: 700;
    color: #000;
}
.card-customers span {
    font-size: .8rem;
    color: gray;
}
.card-customers .customers-title {
    margin-bottom: 0;
    font-weight: 900;
    color: #000;
    margin-top: 10px;
}
.card-customers .customers-caption {
    font-size: .9rem;
    margin-bottom: 0;
}
.customers-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.customers-icons .fa {
    -webkit-font-smoothing: antialiased;
    transition: 300ms all;
    position: absolute;
    font-size: 10vw;
    -webkit-animation: 10s floatUp ease-in infinite;
    animation: 10s floatUp ease-in infinite;
    top: 100%;
    color: rgba(236 ,223 ,191 ,0.3);
}
.customers-icons .fa:before {
    display: inline-block;
}
.customers-icons .fa:nth-child(odd):before {
    -webkit-animation: 40s slowRotate linear;
    animation: 40s slowRotate linear;
}
.customers-icons .fa:nth-child(even):before {
    -webkit-animation: 30s slowRotate linear;
    animation: 30s slowRotate linear;
    animation-direction: reverse;
}
@-webkit-keyframes floatUp {
    0% {
        top: 110%;
        top: calc(100% + 2em);
    }
    100% {
        top: -25%;
        top: -2em;
    }
}
@keyframes floatUp {
    0% {
        top: 110%;
        top: calc(100% + 2em);
    }
    100% {
        top: -25%;
        top: -2em;
    }
}
@-webkit-keyframes slowRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@keyframes slowRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
/*crm*/
#crm , #capterra{
    padding-top: 80px;
    padding-bottom: 80px;
}
#crm h2 , #capterra h2 {
    font-weight: 900;
    font-size: 1.5rem;
    color: #000;
}
.img-crm img.img-fluid {
    transition: all ease-in-out .2s;
}
.img-crm img.img-fluid:hover {
    transform: scale(1.1);
}
.img-crm a {
    color: #203d99;
    font-weight: 900;
    position: relative;
    font-size: .8rem;
}
.img-crm a img {
    width: 13px;
    position: absolute;
    right: -23px;
    top: 3px;
    transition: all ease-in-out 0.2s;
}
.img-crm a:hover img {
    right: -28px;
}
/*brands*/
#news {
    background-image: linear-gradient(to bottom, #f6f8fb, #f9fafc, #fbfbfd, #fdfdfe, #ffffff);
}
#news h2 {
    font-weight: 900;
    font-size: 1.6rem;
    color: #000;
    margin-top: 40px;
}
#news h2 span {
    color: rgb(255, 180, 0);
    font-size: 2rem;
}
.banner {
    position: relative;
    height: 100px;
    background: #fff;
    overflow: hidden;
}
.banner:after {
    content: "";
    position: absolute;
    top: 100%;
    left: -50%;
    right: -50%;
    height: 800px;
    background: #f6f8fb;
    border-radius: 50%;
    margin-top: -100px;
}
.brands-svg img {
    background-color: #fff;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0 4px 7px #cccccc;
}
.a-brands a {
    color: #203d99;
    font-weight: 900;
    position: relative;
    font-size: .8rem;
}
.a-brands a img {
    width: 13px;
    position: absolute;
    right: -23px;
    top: 3px;
    transition: all ease-in-out 0.2s;
}
.a-brands a:hover img {
    right: -28px;
}
.img-news-carousel {
    height: 125px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item-news-carousel {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 6px;
    border-radius: 20px;
    min-height: 380px;
    margin: 8px 0;
    position: relative;
    transition: box-shadow ease-in-out .2s;
}
.item-news-carousel h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 18px;
    color: #000;
}
.item-news-carousel p {
    font-size: .85rem;
}
.news-link a {
    color: #203d99;
    font-weight: 900;
    position: relative;
    font-size: .8rem;
}
.news-link a img {
    width: 13px !important;
    position: absolute;
    right: -23px;
    top: 3px;
    transition: all ease-in-out 0.2s;
}
.news-link a:hover img {
    right: -28px;
}
.news-link {
    position: absolute;
    bottom: 12px;
    right: 0;
    left: 0;
}
.item-news-carousel:hover {
    box-shadow: 0 3px 7px #d6d6d6;
}
/*.news-carousel .owl-dots {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    -webkit-backface-visibility: hidden;*/
/*    -moz-backface-visibility: hidden;*/
/*    -ms-backface-visibility: hidden;*/
/*    backface-visibility: hidden;*/
/*}*/
.news-carousel .owl-dots {
    border-radius: 50px;
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
    text-align: center;
    width: 180px;
    margin: auto;
}
.news-carousel button.owl-dot {
    background-color: #203d99;
    width: 13px;
    height: 13px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
    transition: width ease-in-out .2s;
}
.news-carousel button.owl-dot.active {
    width: 30px
}
.sec-demo {
    background-color: #ffb400;
    border-radius: 20px;
    padding: 25px 235px 25px 75px;
    position: relative;
    min-height: 182px;
}
.sec-demo img {
    position: absolute;
    right: 20px;
    top: -93px;
    width: 213px;
}
.sec-demo h2 {
    font-weight: 700;
    color: #000;
    font-size: 1.7rem;
    margin-bottom: 0;
}
.sec-demo p {
    color: rgb(61, 81, 84);
    font-size: .9rem;
    margin-bottom: 0;
}
.sec-demo a {
    background-color: #001e5d;
    color: #fff;
    padding: 10px 13px;
    border-radius: 8px;
    border: 1px solid #001e5d;
    font-weight: 700;
    font-size: .9rem;
    width: 181px;
    display: block;
    transition: all ease-in-out .2s;
}
.sec-demo a:hover {
    background-color: transparent;
    color: #001e5d;
}
@media (max-width: 767px) {
    .sec-demo img {
        display: none;
    }
    .sec-demo {
        padding: 25px 75px 25px 75px;
        display: inherit !important;
    }
    .sec-demo div:last-child {
        padding-top: 25px;
    }
}
