body {
    background: #ffffff;
    color: #444;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}
a {
    color: #1bb1dc;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #0a98c0;
    outline: none;
    text-decoration: none;
}
button:focus {
    outline: none;
}
p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: #1bb1dc;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}
/*Header*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    top: 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .logo {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo a {
    color: #413e66;
}

#header .logo img {
    max-height: 40px;
}

@media (max-width: 992px) {
    #header {
        top: 0;
    }
    #header .logo {
        font-size: 28px;
    }
}

/*Navigation Menu*/
/* Desktop Navigation */
.main-nav, .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav {
    margin-left: 160px;
}
.main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
    padding-left: 30px;
}

.main-nav a {
    display: block;
    position: relative;
    color: #000000;
    padding: 10px 0;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
    color: #001e5d;
    text-decoration: none;
}

.main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% - -30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.main-nav .drop-down li {
    min-width: 180px;
    position: relative;
}

.main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #065e77;
}

.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
    color: #001e5d;
}

.main-nav .drop-down > a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.main-nav .drop-down .drop-down > a {
    padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(40, 38, 70, 0.8);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #8dc2fa;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down > a:after {
    content: "\f077";
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #065e77;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 38, 70, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}
/*search header*/
.search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
    font-size: .8rem;
    padding-left: 35px;
}
.search-box + label .search-icon {
    color: black;
}
.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
    color: white;
}
.search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 35px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}
.search-box:focus + label .search-icon {
    color: black;
}
/*.search-box:not(:focus) {*/
/*    text-indent: -5000px;*/
/*}*/

#search-submit {
    position: relative;
    left: -5000px;
}

.search-icon {
    position: absolute;
    left: 11px;
    top: 11px;
    color: white;
    cursor: pointer;
}
.search-container {
    position: absolute;
    left: 170px;
    z-index: 9;
    top: 0;
    width: 145px;
}
/*header login*/
.header-login {
    position: absolute;
    right: 0;
}
.header-login a {
    color: #000000;
    font-size: .8rem;
    font-weight: 700;
}
.header-login a {
    color: #001e5d;
}
.header-login a:last-child {
    background-color: #fff;
    padding: 11px 35px 11px 14px;
    border-radius: 8px;
    margin-left: 11px;
    border: 1px solid #ffffff;
}
.fixed-top.header-transparent.header-scrolled .header-login a:last-child {
    border: 1px solid #001e5d;
}
.header-login a:last-child img {
    position: absolute;
    width: 16px;
    top: 5px;
    right: 10px;

}
.header-login a:last-child:hover img {
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: .4s;
}
@-webkit-keyframes run {
    0% {
        right: 10px;
    }
    100% {
        right: 5px;
    }
}
/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: #1bb1dc;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}
/*footer*/
.banner-footer {
    position: relative;
    height: 100px;
    background: #fff;
    overflow: hidden;
}
.banner-footer:after {
    content: "";
    position: absolute;
    top: 100%;
    left: -50%;
    right: -50%;
    height: 800px;
    background: #f6f8fb;
    border-radius: 50%;
    margin-top: -100px;
}
.banner-footer:before {
    content: "";
    background-image: url(../images/icons/scroll-up.png);
    width: 132px;
    height: 57px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9;
    top: -2px;
}
.footer-scroll-up {
    position: absolute;
    right: 0;
    left: 4px;
    top: 0;
    margin: auto;
    display: block;
    width: 20px;
    color: #ffb400;
    font-size: 2rem;
    z-index: 9;
    -webkit-animation: sdb05 2s infinite;
    animation: sdb05 2s infinite;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: translate(0, 0);
    }
    20% {
        -webkit-transform: translate(0, -10px);
    }
    40% {
        -webkit-transform: translate(0, 0);
    }
}
@keyframes sdb05 {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, -10px);
    }
    40% {
        transform: translate(0, 0);
    }
}
#footer {
    background-color: #f6f8fb;
}
.ul-footer p {
    color: rgb(61, 81, 84);
    font-size: .7rem;
    margin-bottom: 10px;
}
.ul-footer ul {
    padding-left: 0;
}
.ul-footer ul li {
    list-style: none;
    margin-bottom: 4px;
    position: relative;
}
.ul-footer ul li a {
    color: rgb(61, 81, 84);
    font-weight: 700;
    font-size: .85rem;
}
.ul-footer ul li.new-li-footer:before {
    content: "New";
    position: absolute;
    right: 15px;
    font-size: .75rem;
    color: rgb(255, 180, 0);
}
.copyright {
    padding: 22px 0;
}
.copyright ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}
.copyright ul li {
    list-style: none;
    display: inline-flex;
    font-size: .7rem;
    margin-right: auto;
}
.copyright ul li a , .copyright ul li {
    color: rgb(118, 118, 118);
}
.copyright ul li a:hover {
    color: #1bb1dc;
}
.dropdown-lang button {
    background-color: #fff;
    color: rgb(167, 167, 167);
    border: none;
    box-shadow: 0 3px 7px #d6d6d6;
    font-size: .9rem;
    font-weight: 700;
    padding: 10px 15px;
}
.dropdown-lang button:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-lang .dropdown-menu {
    min-width: 208px;
    margin: auto;
}
.dropdown-lang .dropdown-menu a {
    font-size: .8rem;
}
/*menu*/
.mobile-nav ul li.nav-li-xs:nth-child(2) {
    border-bottom: 1px solid #7d7d7d;
}
@media (min-width: 701px) {
    .mobile-nav ul li.nav-li-xs , .main-nav ul li.nav-li-xs {
        display: none;
    }
}
@media (max-width: 700px) {
    .header-login {
        display: none;
    }
    .search-box:focus {
        width: 200px;
    }
    .copyright ul {
        display: block !important;
        padding-bottom: 10px;
    }
    .copyright ul li {
        display: block;
        text-align: center;
    }
}